/*
* @Author: jingduo
* @Date:   2017-11-25 15:35:02
* @Last Modified by:   jingduo
* @Last Modified time: 2017-11-25 17:04:05
*/
.form-line{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	margin-bottom: 10px;
	.label{
		display: inline-block;
		width: 60px;
		text-align: right;
	}
}