/*
* @Author: jingduo
* @Date:   2017-11-10 22:44:43
* @Last Modified by:   jingduo
* @Last Modified time: 2017-11-10 22:47:12
*/
.footer{
	padding-bottom: 10px;
	.links{
		text-align: center;
		color: #666;
		line-height: 30px;
		.link{
			padding: 0 10px;
		}
	}
	.copyright{
		text-align: center;
		color: #666;
		line-height: 30px;
	}
}

