/*
* @Author: jingduo
* @Date:   2017-11-10 21:54:35
* @Last Modified by:   jingduo
* @Last Modified time: 2017-11-10 21:59:02
*/
.nav-simple{
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #ddd;
	background: #fff;
	.logo{
		font-size: 26px;
		font-weight: bold;
		color: #c60023;
	}
}